


@{
    ViewData["Title"] = "Home Page";
}


    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://pbs.twimg.com/media/D6DTlfLXkAE1gYS?format=jpg&amp">
        </div>
          <!--
            <div class="carousel-item active">
            <img src="https://www.melhoresdestinos.com.br/wp-content/uploads/2020/06/lugares-conhecer-brasil-lencois-maranhenses-.jpeg">
            </div>
          -->
            <div class="carousel-item">
            <img src="https://www.segueviagem.com.br/wp-content/uploads/2021/05/Rio-de-Janeiro-shutterstock_1276835941.jpg">
            </div>

            <div class="carousel-item">
            <img src="https://blog.unidas.com.br/wp-content/uploads/2022/05/viajar-no-brasil1-scaled.jpg">
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

